#container {
  color:black;
  display: block;
  box-sizing:border-box;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 584px;
  line-height: 24px;
  margin-left: 75px;
  margin-right: 75px;
  max-width: 1200px;
  text-size-adjust: 100%;
}

img {
  width: 100%;
}

h1 {
  font-weight: 700;
  text-align: center;
}